aiogram==3.0.0b3
asyncpg==0.25.0
sqlalchemy==1.4.36
apscheduler==3.9.1
apscheduler-di==0.0.4
redis==4.3.1
python-dotenv==0.20.0
alembic==1.8.0
openpyxl==3.0.10
dataclass_factory==2.14
arq==0.22
multidict==6.0.2
aiohttp==3.8.1
pytz~=2022.1
python-dateutil~=2.8.2
pydantic~=1.9.1